.form {
  margin-top: 30px;
  max-width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.label {
  display: flex;
  margin: 10px;
  width: 100%;
}

.input {
  margin-left: 10px;
  margin-right: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #808080;
}

.input:focus {
  border-color: #221177;
}

.button {
  margin-top: 10px;
  width: 100px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  scale: 1.2;
}

.button:focus {
  border-color: #221177;
}
