.contactList {
  margin: 0;
  padding: 0;
  max-width: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contact {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
