.container {
  background-color: #cecece;
  background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
  padding: 0 20px;
  margin: 0;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 500;
}

.button {
  width: 60px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  scale: 1.2;
}

.button:focus {
  border-color: #221177;
}
